<div class="row">
    <div class="col-6">
        <div class="card">
            <p>Ventas</p>
            <canvas baseChart class="chart"
                [data]="doughnutChartData"
                [type]="doughnutChartType">
            </canvas>  
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <p>Compras</p>
            <canvas baseChart class="chart"
                [data]="doughnutChartData"
                [type]="doughnutChartType">
            </canvas>  
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <p>Cambios</p>
            <canvas baseChart class="chart"
                [data]="doughnutChartData"
                [type]="doughnutChartType">
            </canvas>  
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <p>Compras 2</p>
            <canvas baseChart class="chart"
                [data]="doughnutChartData"
                [type]="doughnutChartType">
            </canvas>  
        </div>
    </div>
</div>